{% extends "base.html" %}

{% block title %}
    My tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <div>
                <p>
                    <a href="{% url "create_task" %}">Create a new task</a>
                </p>
            </div>
            {% if not my_tasks_key %}
                <div>
                    <p>You have no tasks</p>
                </div>
            {% else %}
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in my_tasks_key %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.start_date }}</td>
                                    <td>{{ item.due_date }}</td>
                                    <td>{{ item.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}
