{% extends "base.html" %}

{% block title %}
    Create Project
{% endblock title %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="POST">
                {% csrf_token %}
                {{ create_key.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
