{% extends "base.html" %}

{% block title %}
    Projects list
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
        </div>
        <div>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
        </div>
        {% if not projects_key %}
            <div>
                <p>You are not assigned to any projects</p>
            </div>
        {% else %}
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in projects_key %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" item.id %}">{{ item.name }}</a>
                                </td>
                                <td>{{ item.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </main>
{% endblock content %}
